<!DOCTYPE html>
<html class="" lang="en"><head><style class="darkreader darkreader--fallback" media="screen"></style><style class="darkreader darkreader--text" media="screen"></style><style class="darkreader darkreader--invert" media="screen">.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"], span[data-href^="https://www.hcaptcha.com/"] > #icon, embed[type="application/pdf"] {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}</style><style class="darkreader darkreader--inline" media="screen">[data-darkreader-inline-bgcolor] {
  background-color: var(--darkreader-inline-bgcolor) !important;

}</style>


    <!-- Regular data -->
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <!-- Description -->
    <meta name="author" content="Jonathan Sladish">
    <meta name="description" content="I design &; build digital products.">
    <meta name="keywords" content="Jonathan Sladish,portfolio,graphic,design,experience,product,freelance,interface">
    <meta name="Resource-type" content="Document">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph data -->
    <meta property="og:site_name" content="Jonathan Sldish">
    <meta property="og:title" content="Jonathan Sladish">
    <meta property="og:description" content="I design &; build digital products.">


    <!-- Title -->
    <title>Jonathan Sladish</title>

    <!-- CSS -->
    <link href="../css/style.css" rel="stylesheet" type="text/css"><style class="darkreader darkreader--sync" media="screen"></style>

    <!-- Yall: Remove the no-js class on the <html> element if JavaScript is on -->
    <script>document.documentElement.classList.remove("no-js")</script>

    </style></head>

<body class="website-background-black">


<div class="max-width">
    <div class="logo">
        <div class="logo-inner">
            <a href="../">
                <div class="label-logo on-hover--40 text-color-white"></div>
            </a>
        </div>
    </div>

    <div class="top-bottom-margin">
        <div class="hide-text-block">
            <h2 class="text-color-white animate">Let's make something great!</h2>
        </div>

        <div class="max-width-70 text-color-white animate delay02">
            <h4>Contact</h4>
            <p>
                I'm seeking out opportunities to collaborate with companies / agencies / individuals, not just work for them. I want to bring my collective design to the table where we can work together to solve real business-problems in a way that optimizes all of our respective experience and knowledge.
            </p>
            <p>

                If this all sounds great, then lets chat about how we can work together.
            </p>
            <p>
                Feel free to reach out through any platforms bellow:
            </p>

            <div class="links">
                <a class="on-hover-40 text-color-red label-email copy-email"></a>
                <a class="on-hover-40 text-color-red" href="https://www.instagram.com/j.sladish/" target="_blank">Instagram</a>
                <a class="on-hover-40 text-color-red" href="https://www.linkedin.com/in/jonathan-sladish-b92718a3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B2TBSoVwsSryaIhWY8qY%2FPA%3D%3D" target="_blank">Linkedin</a>
            </div>

        </div>
    </div>


</div> <!-- end max-width --->


<!-- Copy to clipboard -->
<script src="../js/clipboard.min.js"></script>
<script>
	var clipboard = new ClipboardJS('.copy-email', {
		text: function() {
		return 'hello@dejan.works';
	}
	});
		clipboard.on('success', function(e) {
		console.log(e);
	});
		clipboard.on('error', function(e) {
		console.log(e);
	});
</script>



</body></html>